
@model ArtShop.Entities.Model.Artist

@{ ViewBag.Title = "Nuevo Artista";}

<div class="container-fluid">

    @using (Html.BeginForm())
    {
        <div class="card shadow mb-4">
            <h2 class="title"><a href="#"> Nuevo Artista</a></h2>
            <div class="card-body">
                <div class="row form-group">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        @Html.LabelFor(model => model.LifeSpan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.EditorFor(model => model.LifeSpan, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        @Html.LabelFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(model => model.TotalProducts, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.EditorFor(model => model.TotalProducts, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
            </div>

            <div class="text-center m-t-30">
                <input class="btn btn-primary" type="submit" value="Agregar" />
                @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-outline-secondary" })
            </div>
        </div>
    }
</div>