@model  ArtShop.Entities.Model.Artist

@{
    ViewBag.Title = "Editar Artista";
}

<div class="container-fluid">
    <h2 class="title"><a href="#"> Editar Artista</a></h2>
    <p class="byline">
        <h4>Artista: @Model.FullName</h4>
    </p>
    <div>
        @using (Html.BeginForm())
        {
            <div class="form-horizontal">

                <hr />
                <span class="text-danger">@ViewBag.MessageDanger</span>

                @Html.HiddenFor(model => model.Id)

                <div class="form-group">
                    @Html.LabelFor(model => model.FirstName)
                    <div>
                        @Html.EditorFor(model => model.FirstName)

                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.LastName)
                    <div>
                        @Html.EditorFor(model => model.LastName)

                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.LifeSpan)
                    <div>
                        @Html.EditorFor(model => model.LifeSpan)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Country)
                    <div>
                        @Html.EditorFor(model => model.Country)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description)
                    <div>
                        @Html.EditorFor(model => model.Description)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TotalProducts)
                    <div>
                        @Html.EditorFor(model => model.TotalProducts)
                    </div>
                </div>
                @Html.HiddenFor(model => model.CreatedOn)
                @Html.HiddenFor(model => model.CreatedBy)
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 separator">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-outline-secondary" })
                </div>
            </div>
        }
    </div>
</div>

