@model IEnumerable<ArtShop.Entities.Model.Artist>
@{
    ViewBag.Title = "Artistas";
}

<div class="container-fluid">
    <br>
    <h2 class="title"> Lista de Artista</h2>
    <p>
        <a class="btn btn-primary btn-sm" href="/Artist/Create" role="button">Nuevo Artista</a>
    </p>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LifeSpan)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Country)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() > 0)
            {
                foreach (var item in Model)
                {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LifeSpan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>


                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
                </td>
            </tr>
                }
            }
            else
            {
                <tr>
                    <td class="text-center text-info" colspan="6">No hay registros disponibles</td>
                </tr>
            }
        </tbody>
    </table>
</div>