<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title - ArtShop</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/Content/style.css" rel="stylesheet" />
    <!-- You can change the theme colors from here -->
    <link href="~/Content/blue.css" rel="stylesheet" />
    <link href="~/Content/style.min.css" rel="stylesheet" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")



</head>

<body class="fix-header card-no-border">

    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <div id="main-wrapper">

        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">

                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">

                        <span>
                            <img src="~/Content/Imagenes/Logo_imagen.png" />
                            <img src="~/Content/Imagenes/Logo_txt.png" />
                        </span>
                    </a>
                </div>

                <div id="navbarSupportedContent" class="navbar-collapse collapse">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" aria-haspopup="true" aria-expanded="false">@Html.Partial("_LoginPartial")</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        
                        @Html.Partial("_MenuPartial")

                    </ul>


                </nav>

            </div>
            >
        </aside>

        <div class="page-wrapper">
            @RenderBody()

            <footer class="footer text-center">
                © 2020 ArtShop Admin
            </footer>

        </div>

    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


    <script src="~/Scripts/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/Scripts/tether.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->

    <script src="~/Scripts/jquery.slimscroll.js"></script>
    <!--Wave Effects -->

    <script src="~/Scripts/waves.js"></script>
    <!--Menu sidebar -->

    <script src="~/Scripts/sidebarmenu.js"></script>
    <!--stickey kit -->

    <script src="~/Scripts/sticky-kit.min.js"></script>
    <!--Custom JavaScript -->

    <script src="~/Scripts/custom.min.js"></script>
    <!-- ============================================================== -->
    <!-- Style switcher -->
    <!-- ============================================================== -->

    <script src="~/Scripts/jQuery.style.switcher.js"></script>


    @RenderSection("scripts", required: false)
</body>

</html>
